body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1, h2, h3 {
    color: #333;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    background-color: navy;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
}

.tab-button.active {
    background-color: rgb(95, 95, 189);
    border-bottom: 2px solid #007bff;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.tab-content.active {
    display: block;
}